img{ background-image: none;
background-color: lightskyblue; max-width:100%;}
img{ background-image: none;}
.color-row {
 background-color: lightskyblue;  
}
h3{
    color: grey;
}
.span-background-color{background-color: yellow;

}
